/*
https://lospec.com/palette-list/paper-pixels
https://lospec.com/palette-list/papier-4 too yellow/cold

https://lospec.com/palette-list/escape
https://lospec.com/palette-list/ty-forgotten-times-9
https://lospec.com/palette-list/1bit-monitor-glow
https://lospec.com/palette-list/steam-lords
https://lospec.com/palette-list/steam-lords
https://lospec.com/palette-list/lost-century-24
https://lospec.com/palette-list/daylight-16
https://lospec.com/palette-list/paper-pixels
https://lospec.com/palette-list/vinik24
*/
@font-face {
  font-family: paint-number;
  src: url("../../public/fonts/edo.ttf");
}
@font-face {
  font-family: paint-text;
  src: url("../../public/fonts/PAINP___.TTF");
}
.card-holder {
  border: 3px dashed orange;
  padding: 0em;
  margin: 5em;
  box-shadow: 0 0 1em 0 red;
  display: inline-block;
  resize: both;
  overflow: scroll;
}

.testholders-css {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5em;
}

.card2 {
  margin: 1em;
  border: 3px dashed orange;
}
.card2 p, .card2 h4 {
  padding: 0;
  margin: 0;
}

div.card {
  background-color: #bda583;
  text-align: center;
  display: block;
  font-size: calc(10 * var(--magic, 0.1px));
  height: 9.5em;
  width: 6.6428571429em;
  padding: 0.25em;
  color: #292418;
  --card-rem: calc(10*var(--magic,0.1px));
}
div.card .card-title {
  display: flex;
  justify-content: center;
  border-bottom: 5px solid #292418;
  height: 16%;
  font-family: "paint-number", monospace;
}
div.card .imgbox {
  position: relative;
  border-bottom: 5px solid #292418;
  height: 40%;
}
div.card .imgbox object {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
div.card .imgbox .cost {
  position: absolute;
  top: 0;
  right: 0.25em;
  display: flex;
  gap: 0.1em;
}
div.card .imgbox .cost svg {
  fill: #a53030;
  height: 1em;
  width: 0.5em;
}
div.card .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;
  width: 6.6428571429em;
  height: 40%;
}
div.card .content p {
  margin: 0;
  padding: 0;
}
div.card .content .stat {
  width: 20%;
  flex-basis: 20%;
  flex-grow: 0;
  position: relative;
  width: 1.75em;
  height: 100%;
}
div.card .content .stat svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  fill: #524839;
  width: 100%;
  height: fit-content;
}
div.card .content .stat p {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(1.75 * var(--card-rem));
  line-height: calc(1.5 * var(--card-rem));
  vertical-align: center;
  font-size: 1em;
  text-shadow: 2px 4px 15px #000, 0px 0px 15px #000;
  color: #a53030;
  font-family: "paint-number", monospace;
}
div.card .content .sigils {
  flex-basis: 60%;
  width: 60%;
  font-size: 6px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
div.card .content .sigils object[type="image/svg+xml"], div.card .content .sigils svg {
  display: inline-block;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=card.css.map */
