@charset "UTF-8";
/*
https://lospec.com/palette-list/paper-pixels
https://lospec.com/palette-list/papier-4 too yellow/cold

https://lospec.com/palette-list/escape
https://lospec.com/palette-list/ty-forgotten-times-9
https://lospec.com/palette-list/1bit-monitor-glow
https://lospec.com/palette-list/steam-lords
https://lospec.com/palette-list/steam-lords
https://lospec.com/palette-list/lost-century-24
https://lospec.com/palette-list/daylight-16
https://lospec.com/palette-list/paper-pixels
https://lospec.com/palette-list/vinik24
*/
@font-face {
  font-family: paint-number;
  src: url("../../public/fonts/edo.ttf");
}
@font-face {
  font-family: paint-text;
  src: url("../../public/fonts/PAINP___.TTF");
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100%;
  background-image: url("../../public/img/pexels-szabó-viktor-3227984.jpg");
  background-size: 60%;
}

.left, .right {
  flex-basis: 20%;
}

.top, .bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.bottom {
  flex-grow: 1;
}

.center {
  flex-basis: 60%;
  flex-grow: 1;
  width: 60%;
  border: 2px dashed #8a8;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.center .Cardrow[type=table] {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
.center .Cardrow[type=table] .card-holder {
  flex-grow: 1;
  flex-basis: 25%;
  min-width: 15%;
  transition: flex-basis 0.8s;
  transition-timing-function: linear;
}
.center .Cardrow[type=table] .card-holder.hascard:hover {
  flex-basis: 30%;
}
.center .Cardrow[type=hand] {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  align-items: flex-end;
}
.center .Cardrow[type=hand] .card-holder {
  font-size: calc(10 * var(--magic, 0.1px));
  box-shadow: -0.5em 0 0.6em 0em #000;
  transition: left 0.3s ease-in, transform 0.2s ease-in;
  position: relative;
  left: 0;
  min-width: 0;
  max-width: 25%;
  flex-grow: 1;
  flex-basis: 25%;
}
.center .Cardrow[type=hand] .card-holder:not(:first-child) {
  margin-left: -1vw;
}
.center .Cardrow[type=hand] .card-holder:hover {
  transform: translateY(-4vh);
  z-index: 1;
  box-shadow: -0.5em 0 0.6em 0em #000;
  transition: transform 0.2s ease-out;
}
.center .Cardrow[type=hand] .card-holder:hover ~ .card-holder {
  left: calc(1vw + 0.5em);
  transition: left 0.3s ease-out;
}

div[grow=true] .Cardrow[type=table] > .card-holder.hascard:hover {
  flex-basis: 30%;
}

.fullDiv {
  height: 100%;
  width: 100%;
}

.Cardrow[type=table] .card-holder {
  border: 3px dashed orange;
  padding: 0em;
  margin: 0.5em;
  box-shadow: 0 0 1em 0 var(--box-shadow-col), 0 0 0 0 #000;
  display: inline-block;
}
.Cardrow[type=table] .card-holder[owner="1"] {
  --box-shadow-col: red;
  border-color: orange;
}
.Cardrow[type=table] .card-holder[owner="0"] {
  border-color: purple;
  --box-shadow-col: blue;
}

div[animations=true] .card-holder {
  box-shadow: 0 0 1em 0 var(--box-shadow-col), 0 0 0 0 #000;
}
div[animations=true] .card-holder[owner="1"] {
  --box-shadow-col: red;
  animation-delay: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: unrotate;
}
div[animations=true] .card-holder[owner="1"]:hover {
  animation-name: rotate;
}
div[animations=true] .card-holder[owner="0"] {
  --box-shadow-col: blue;
}

@keyframes rotate {
  from {
    z-index: unset;
    transform: rotate(180deg);
    box-shadow: 0 0 1em 0 var(--box-shadow-col), 0 0 0 0 #000;
  }
  20% {
    z-index: 1;
    transform: rotate(180deg);
    box-shadow: 0 0 3em 0 var(--box-shadow-col), 0 0 1em 0 #000;
  }
  to {
    z-index: 1;
    transform: rotate(0deg);
    box-shadow: 0 0 3em 0 var(--box-shadow-col), 0 0 1em 0 #000;
  }
}
@keyframes unrotate {
  to {
    z-index: unset;
    transform: rotate(180deg);
    box-shadow: 0 0 1em 0 var(--box-shadow-col), 0 0 0 0 #000;
  }
  80% {
    z-index: 1;
    transform: rotate(180deg);
    box-shadow: 0 0 3em 0 var(--box-shadow-col), 0 0 1em 0 #000;
  }
  from {
    z-index: 1;
    transform: rotate(0deg);
    box-shadow: 0 0 3em 0 var(--box-shadow-col), 0 0 1em 0 #000;
  }
}
.testholders-css {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5em;
}

/*# sourceMappingURL=game.css.map */
