// https://lospec.com/palette-list/lost-century
$paperRed   : #79444a;
$paperGreen : #77743b;



// https://lospec.com/palette-list/justparchment8
$paperz1 : #292418;
$paperz2 : #524839;
$paperz3 : #73654a;
$paperz4 : #8b7d62;
$paperz5 : #a48d6a;
$paperz6 : #bda583;
$paperz7 : #cdba94;
$paperz8 : #e6ceac;
$paperBlack : $paperz1;
$paperWhite : $paperz6;
