// https://lospec.com/palette-list/lost-century
// $paperRed   : #79444a;
$paperGreen : #77743b;

// https://lospec.com/palette-list/red-horns
// $paperRed: #4d1313; //too dark

// https://lospec.com/palette-list/apollo
$paperRed: #a53030;


//https://lospec.com/palette-list/vinik24
// $paperRed : #9a4f50 ;


// https://lospec.com/palette-list/justparchment8
$paperz1 : #292418;
$paperz2 : #524839;
$paperz3 : #73654a;
$paperz4 : #8b7d62;
$paperz5 : #a48d6a;
$paperz6 : #bda583;
$paperz7 : #cdba94;
$paperz8 : #e6ceac;
$paperBlack : $paperz1;
// $paperBlack : #f00;
$paperFaded : $paperz2;
$paperWhite : $paperz6;


$paperNoteBorder: $paperz3;
$paperNoteWhite: $paperz7;
$paperNoteBlack: $paperz2;







/*
https://lospec.com/palette-list/paper-pixels
https://lospec.com/palette-list/papier-4 too yellow/cold

https://lospec.com/palette-list/escape
https://lospec.com/palette-list/ty-forgotten-times-9
https://lospec.com/palette-list/1bit-monitor-glow
https://lospec.com/palette-list/steam-lords
https://lospec.com/palette-list/steam-lords
https://lospec.com/palette-list/lost-century-24
https://lospec.com/palette-list/daylight-16
https://lospec.com/palette-list/paper-pixels
https://lospec.com/palette-list/vinik24
*/