@use "./_col.scss";


@font-face {
    font-family: paint-number;
    src: url("../../public/fonts/edo.ttf");
}
@font-face {
    font-family: paint-text;
    src: url("../../public/fonts/PAINP___.TTF");
}

.fullDiv{
    //used by card picture holder
    height:100%;
    width: 100%;
}


.card-holder{
    border: 3px dashed orange;
    padding: 0em;
    margin: 0.5em;
    // background-color: #;
    box-shadow: 0 0 1em 0 red;
    display: inline-block;
    resize: both;
    overflow: scroll;
}

.testholders-css{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    gap:5em;
}


.card2{
    //fake card to test drag and drop
    margin:1em;
    border: 3px dashed orange;
    p,h4{
        padding:0;
        margin:0;
    }
}


div.card{
    $edge: 0.25em;

    background-color: col.$paperWhite;
    text-align: center;
    display: block;
    font-size: calc(10*var(--magic,0.1px));
    height: calc(10em - 2 * $edge);
    width: calc(10em * 5 / 7 - 2 * $edge);
    padding:$edge;

    // font-family: "selected", monospace;
    color: col.$paperBlack;

    --card-rem: calc(10*var(--magic,0.1px));

    .card-title{
        display: flex;
        justify-content: center;

        border-bottom: 5px solid col.$paperBlack;
        height:16%;
        font-family: "paint-number",monospace;
    }
    .imgbox{
        position: relative;
        border-bottom: 5px solid col.$paperBlack;
        height:40%;

        .fullDiv > svg{
            height:100%;
            width:100%;
        }
        .cost{
            position: absolute;
            top:0;
            right: 0.25em;
            display: flex;
            gap:0.1em;

            & > svg{
                fill: col.$paperRed;
                height:1em;
                width: 0.5em;
            }
        }
    }
    .content{
        // border:2px dashed #00f;
        
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 1em;


        width: calc(10em * 5 / 7 - 2 * $edge);
        height: 40%;
        p{
            margin:0;
            padding:0;
        }

        .stat{
            width: 20%;
            flex-basis: 20%;

            flex-grow: 0;
            // flex-basis: 20%;
            position: relative;
            // border: 2px dashed green;
            // width: calc(2em * 5 / 7);
            width:1.75em;
            height: 100%;
            svg{
                position:absolute;
                left:0;
                right:0;
                // top: calc(50% - 1em * 5 / 7);
                bottom:0;
                fill: col.$paperFaded;
                
                width:100%;
                // width: calc(2 * var(--card-rem));

                height: fit-content;
                // height: calc(2 * var(--card-rem));
            }
            p{
                margin: 0;
                padding: 0;
                
                position: absolute;
                left:0;
                right:0;
                // width: 100%; redundant set by above
                bottom:0;

                // height: calc(2* var(--card-rem) * 5 / 7); //aka 100% width
                height: calc(1.75 * var(--card-rem));
                line-height: calc(1.5 * var(--card-rem));
                vertical-align: center; //this is why we bothered setting the height of this box so it matches the icon.

                font-size: 1em; //this is why we used a var above

                text-shadow: 2px 4px 15px #000,0px 0px 15px #000;
                color: col.$paperRed; //BLOOD!!!
                font-family: "paint-number",monospace;
            }
        }
        .sigils{
            // flex-grow: 1;
            flex-basis: 60%;
            width: 60%;
            font-size: 6px;
            
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            
            object[type="image/svg+xml"], svg{
                display: inline-block;
                height: 100%;
                width: 100%;
            }
        }
    }
}